<?php

class db {
	
	public $dbname="%s";
	private $dbhost="%s";
	private $dbuser="%s";
	private $dbpwd="%s";
	private $db=null;
	private static $idb=false;
	
	public function __construct(){
		try{
			$this->db=new PDO("mysql:host={$this->dbhost};dbname={$this->dbname};charset=utf8", $this->dbuser, $this->dbpwd);
			$this->db->setAttribute(PDO::ATTR_DEFAULT_FETCH_MODE, PDO::FETCH_ASSOC);
			$this->db->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_WARNING);
			return $this->db;
		} catch (PDOException $e){
			die("Bdd error..");
		}
	}
	
	public static function idb(){
		if(!self::$idb){
	   	 self::$idb = new self();
		}
		return self::$idb;
	}
	
	public function exec($exec){
		return $this->db->exec($exec) ? true : false;
	}

	public function query($query){
		return $this->db->query($query)->fetch(PDO::FETCH_ASSOC);
	}
	
	public function prepare($req, array $params=[]){
		$query=$this->db->prepare($req);
		if($query->execute($params)){
	   	 return $query;
		}
		return false;
	}
	
	public function lastInsertId(){
		return $this->db->lastInsertId();
	}
	
	public function quotes($query){
		return $this->db->quote($query);
	}
	
	public function escapecmd($query){
		return escapeshellcmd($query);
	}
	
	public function tblTruncate($table){
		return $this->exec("TRUNCATE TABLE {$table}");
	}
}
?>